<div class="content d-flex flex-column justify-content-center text-center">
  <div class="card bg-dark text-white">
    <img class="card-img" src="{{ destino.url }}" alt="Card image" />
    <div class="card-img-overlay">
      <div class="rectangle"></div>
      <h5 class="card-title">{{ destino.name }}</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </p>
      <div class="card-meta">
        <p>Updated</p>
        <span>3 mins ago</span>
      </div>
    </div>
  </div>
  <button
    type="button"
    [ngClass]="
      'btn btn-lg bg-'.concat((destino.reservado && 'danger') || 'primary')
    "
    (click)="mover($event)"
  >
    {{ (destino.reservado && "anular") || "reservar" }}
  </button>
  <span *ngIf="destino.reservado"
    >{{ destino.boletos }}
    {{ (destino.boletos != 1 && "Boletos") || "Boleto" }}</span
  >
</div>
