/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$bg-card-color: #0056b3;
$card-color: #fff;
$reserve-size: 50px;

label {
  text-transform: capitalize;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  width: fit-content;
  height: fit-content;
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;
}

div#reservas {
  box-sizing: border-box;
  padding: 0;
  position: relative;
  margin: 5px;
  background-color: steelblue;
  height: $reserve-size;
  width: $reserve-size;
  overflow: hidden;
}

div#reservas > span {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Roboto Mono", monospace;
  font-size: 2em;
  top: 50%;
  left: 50%;
}

.content {
  padding: 10px;
}

.card {
  width: 150px;
  height: 250px;
  margin: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: transparent;
  box-sizing: border-box;
}

img.card-img {
  height: 100%;
  object-fit: cover;
}

.card > .card-img-overlay {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  height: 150px;
  overflow: hidden;
  color: $card-color;
  background-color: transparent;
  background-image: linear-gradient(to top, $bg-card-color 5%, transparent);
  padding: 10px;
}

.card-img-overlay p {
  font-weight: 300;
  margin-bottom: 0;
}

.card .rectangle {
  top: 5px;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: $bg-card-color;
  position: absolute;
  z-index: 0;
}

.card-title {
  z-index: 10;
  text-transform: uppercase;
  text-align: center;
}

.card-text {
  font-size: small;
}

.card-meta {
  margin-top: auto;
  font-size: smaller;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column > .btn {
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
