<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div
  class="container content d-flex flex-column justify-content-center"
  *ngIf="sinReserva.length != 0"
>
  <div class="row align-items-center justify-content-center">
    <h1>{{ title }}</h1>
    <div id="reservas" class="rounded-circle">
      <span>{{ sinReserva.length }}</span>
    </div>
  </div>
  <div class="form-group d-flex justify-content-center row w-100 m-0">
    <select class="form-control col-md-4" #aReservar>
      <option *ngFor="let x of sinReserva">{{ x.name }}</option>
    </select>
    <label for="boletos" class="col-form-label fit-content mx-3">boletos</label>
    <input
      type="text"
      class="form-control col-md-1 col-3"
      id="boletos"
      #boletos
    />
    <button
      class="btn btn-sm bg-primary text-uppercase mx-3"
      (click)="reservar(aReservar.value, boletos.value, $event)"
    >
      reservar
    </button>
  </div>
</div>

<app-lista-destinos
  [destinos]="sinReserva"
  (reserva)="funReservar($event)"
></app-lista-destinos>

<div class="container content" *ngIf="reservados.length != 0">
  <div class="row align-items-center justify-content-center">
    <h1>Destinos Reservados</h1>
    <div id="reservas" class="rounded-circle">
      <span>{{ reservados.length }}</span>
    </div>
  </div>
</div>

<app-lista-reservas
  [reservados]="reservados"
  (anulado)="funAnular($event)"
></app-lista-reservas>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
